# Игнорируем папку локальной сборки Ninja
build/
build_1/
.cmake/

# Игнорируем специфичные файлы macOS
.DS_Store
# Игнорируем log и прочие old файлы
DX7_RP2350_ninja_log.txt
main_OLD.c

# Игнорируем скрытые настройки сред разработки (если используете)
.vscode/
.idea/
