# Игнорируем папку локальной сборки Ninja
build/
build_1/
.cmake/
.aider.*/

# Игнорируем специфичные файлы macOS и скрипты автоматизации
.DS_Store


# Игнорируем log и прочие old файлы
DX7_RP2350_ninja_log.txt
main_OLD.c
main3.c
sd_storage_SORTED.c
debug_log_OLD2.c
debug_log_OLD.c
sd_review2.c
system_mode1.c
help_mode1.c

# Игнорируем скрытые настройки сред разработки (если используете)
.vscode/
.idea/
.aider*
